bvh_no_character/
bvh_original_pose/
bvh_t_pose/
fbx/
fbx-None-Keyframe-Reduction_2/
fbx-unity-t-pose-non-reduct/
mixamo_36_800_24/
mixamo-fbx/
anim-json-mixamo/
anim-json/
anim-json-euler/
anim-json-euler-pred/